.padding{
    padding: 15%;
}

.connect-padding{
    padding: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
}

h1, h2, h3, h4, .navbar-link{
    font-family: 'Signika', sans-serif;
}

.lead{
    font-family: Calibri, sans-serif;
    font-size: 20px;
}

.resume-points, .card-text{
    font-family: Calibri, sans-serif;
    font-size: 16px;
}

.navbar-brand{
    font-family: 'Signika', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
}

.title-1{
    color: #ffa500;
    font-weight: 600;
}

.title-2{
    color: #ffa500;
    font-weight: 400;
}

.title-3{
    color: white;
}

.jumbotron-fluid{
    background-color: white;
}


.navbar{
    background-color: #ffa500;
}

.resume-title{
    font-size: 1.25em; 
}

.resume-location{
    font-size: 1em;
    font-weight: 300;
    font-style: italic;
    color: gray;
}

.v-divider{
    border-right:1px solid gray;
}

/*Makes vertical line disappear on small screens*/
@media (max-width:767px) {
.v-divider{
    border:0px solid !important
}
}

#skills{
    background-color: lightgray;
}

.skills-image{
    height: 120px;
    width: auto;
    margin: 20px;
    margin-top: 50px;
}

.skills-text{
    color: white;
}

.parallax{
    background-image: url(images/t_background4.jpg);
    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-card{
    min-height: 400px;
    margin-top: 50px;
}

#connect{
    background-color: #ffa500;
}

.fab, .far{
    color: white;
}

.btn{
    background-color: transparent;
    border-radius: 50%;
    border-width: 3px;
    border-color: white;
    width: 4em;
    height: 4em;
}

.social a{
    padding: 1rem;
}

footer{
    background-color: #ffa500;
}